<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mystyle.css') }}">
</head>
<body>
<!--<form action="http://localhost:5000/login" method="GET">-->
<h2>Add Player Information </h2>
  <div class="container">
  <form action="/player_information" method="POST" enctype="multipart/form-data">
    <div class="row">
      <div class="col">
        <input type="text" name="player_first_name" placeholder="Player First Name" required>
          <input type="text" name="player_last_name" placeholder="Player Last Name" required>
           <div class="form-group">
                <div class="input-group">
                    <span class="input-group-btn">
                        Upload Photo <input type="file" id="fileupload" name="playerImage" multiple>
                    </span>
                </div>

            </div>
          <div class="input-group">
        <span class="input-group-addon">Please select</span>
            <select name="team_selected" class="styled-select slate">
              {% for each in teams %}
              <option value="{{each.team_id }}">{{ each.team_name }}</option>
              {% endfor %}
            </select>
        </div>
        <input type="submit" value="Save">
          <input type="submit" onClick="javascript:history.go(-1)" value="cancel">
      </div>
    </div>
  </form>
</div>
</body>
</html>
