{% extends "main_page.html" %}
{% block content %}
<!--<form action="http://localhost:5000/login" method="GET">-->
{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}
<h2>Add Team Information </h2>
  <div class="container">
  <form action="/addteam" method="POST" enctype="multipart/form-data">
    <div class="row">
      <div class="col">
        <input type="text" name="team_name" placeholder="Team Name" required>
           <div class="form-group">
                <div class="input-group">
                    <span class="input-group-btn">
                        Upload Photo <input type="file" id="fileupload" name="teamImage" multiple>
                    </span>
                </div>
            </div>
        <input type="submit" value="Save">
          <input type="submit" onClick="javascript:history.go(-1)" value="cancel">
      </div>
    </div>
  </form>
</div>
{% endblock %}
