<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mystyle.css') }}">
</head>
<body>
<h2>Account recovery </h2>
<div class="container">
  <form action="/action_page">
    <div class="row">
      <div class="col">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Enter old Password" required>
        <input type="password" name="password" placeholder="Enter new Password" required>
        <input type="submit" value="Save">
        <input type="button" value="Cancel">
      </div>
      
    </div>
  </form>
</div>

</body>
</html>
