<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
#Players {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#Players td, #Players th {
  border: 1px solid #ddd;
  padding: 8px;
}

#Players tr:nth-child(even){background-color: #f2f2f2;}

#Players tr:hover {background-color: #ddd;}

#Players th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>
</head>
<body>
<!--<form action="http://localhost:5000/login" method="GET">-->
  <select name="team_selected" class="styled-select slate">
              {% for each in team_dict['teams'] %}
              <option value="{{each}}">{{ each }}</option>
              {% endfor %}
            </select>

  <div class="container">
  <table id="Players">
  <tr>
    <th>Player first Name</th>
    <th>Player last Name</th>
  </tr>
  {% for each in team_dict['team_result'] %}
  <tr>
  {% for k, v in each.items() %}
    
        <td>{{v}}</td>
    
    {% endfor %}
    </tr>
    {% endfor %}
</table>
  </div>
</body>
</html>

