<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mystyle.css') }}">
</head>
<body>
<!--<form action="http://localhost:5000/login" method="GET">-->
<h2>Add Team/Player </h2>
  <div class="container">
  <form action="http://localhost:5000/teamplayer" method="POST" enctype="multipart/form-data">
    <div class="row">
      <div class="col">
        <input type="submit" name = "add_template" value="Add Team" action="add_team_player">
          <input type="submit" name = "add_template" value="Add Player" action="add_player">
      </div>
      <div class="col">
        <input type="submit" name = "add_template" value="View Players" action="view_players">
      </div>
    </div>
  </form>
</div>
{% if teams %}
<table id="team" >
  <tr>
    <th>Team Name</th>
    <th>Team Logo</th>
    <th>Action</th>
  </tr>
  {% for each in teams %}
  <tr>
    <td> {{each.team_name}} </td>
    <td><img src="data:;base64,{{ each.team_image }}" style="width:128px;height:128px;"/></td>
    <td>
    <div class="dropdown open">
  <ul class="dropdown-menu--horizontal">
      <a class="dropmenu-item-btn" href="{{ url_for('team_edit', team_id=each.team_id) }}">
        <i class="glyphicon glyphicon-pencil"></i>
        Edit
      </a>
      <a class="dropmenu-item-btn" href="{{ url_for('delete_team', team_id=each.team_id) }}">
        <i class="glyphicon glyphicon-trash"></i>
        Delete
      </a>
  </ul>
</div>
</td>
  </tr>
  {% endfor %}
</table>
{% endif %}
</body>
</html>
