{% extends "main_page.html" %}
{% block content %}
<!--<form action="http://localhost:5000/login" method="GET">-->
{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}
<div style="float:right">
<a href="{{ url_for('homepage') }}" class="btn btn-default btn-sm">
          <span class="fa fa-arrow-left" ></span> Back
        </a>
</div>
<h2>Players Information </h2>
<form action= "{{ url_for('threshold') }}" method="GET">
 <p>
   <select name="team_selected" id="selectedTeam" class="styled-select slate">
  {% for each in result.teams %}
  <option value="{{each.team_id }}">{{ each.team_name }}</option>
  {% endfor %}
  </select>
  </p>
</form>


  {% if result.players %}
<table id="player" >
  <tr>
    <th>Player First Name</th>
    <th>Player Last Name</th>
    <th>Player Team</th>
    <th>Team logo</th>
    <th>Action </th>
  </tr>
  {% for each in result.players %}
  <tr>
    <td> {{each.Player.player_fname}} </td>
    <td>{{each.Player.player_lname}} </td>
    <td><img src="data:;base64,{{ each.Player.player_image }}" style="width:128px;height:128px;"/></td>
    <td><img src="data:;base64,{{ each.Team.team_image }}" style="width:128px;height:128px;"/></td>
    <td>
    <div class="dropdown open">
  <ul class="dropdown-menu--horizontal">
      <a class="dropmenu-item-btn" href="{{ url_for('player_edit', player_id=each.Player.player_id) }}">
        <i class="glyphicon glyphicon-pencil"></i>
        Edit
      </a>
      <a class="dropmenu-item-btn" href="{{ url_for('delete_player', player_id=each.Player.player_id) }}">
        <i class="glyphicon glyphicon-trash"></i>
        Delete
      </a>
  </ul>
</div>
</td>
  </tr>
  {% endfor %}
</table>
{% endif %}
{% endblock %}
